Repository vdubuisson/blitzapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{ts,html}": ["eslint --fix"],
  "*.scss": ["stylelint --fix"]
}

update dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

new angular syntax on services
  package-lock.json
  package.json
  src/app/pages/new-game/new-game.page.scss
  src/app/services/announcement/announcement.service.spec.ts
  src/app/services/announcement/announcement.service.ts
  src/app/services/card-choice/card-choice.service.spec.ts
  src/app/services/card-choice/card-choice.service.ts
  src/app/services/death/death.service.spec.ts
  src/app/services/death/death.service.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
  src/app/services/modal/modal.service.spec.ts
  src/app/services/modal/modal.service.ts
  src/app/services/new-game/new-game.service.spec.ts
  src/app/services/new-game/new-game.service.ts
  src/app/services/round-handlers/round-handlers.service.spec.ts
  src/app/services/round-handlers/round-handlers.service.ts
  src/app/services/round-orchestration/round-orchestration.service.spec.ts
  src/app/services/round-orchestration/round-orchestration.service.ts
  src/app/services/victory-handlers/victory-handlers.service.spec.ts
  src/app/services/victory-handlers/victory-handlers.service.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix

update dependencies
  package-lock.json
  package.json
Due: none

remove getter + add readonly
  src/app/services/announcement/announcement.service.ts
  src/app/services/card-choice/card-choice.service.ts
  src/app/services/game/game.service.ts
  src/app/services/new-game/new-game.service.ts
  src/app/services/select-overlay/select-overlay.service.ts
  src/app/services/storage/storage.service.ts
Due: eslint --fix

Angular 19
  angular.json
  jest.config.ts
  package-lock.json
  package.json
  setup-jest.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/components/accordion-item/accordion-item.component.ts
  src/app/components/header/header.component.ts
  src/app/components/new-player/new-player.component.ts
  src/app/components/player-card-modal/player-card-modal.component.ts
  src/app/components/player/player.component.ts
  src/app/components/text-modal/text-modal.component.ts
  src/app/pages/game/game.page.ts
  src/app/pages/home/home.page.ts
  src/app/pages/new-game-roles/new-game-roles.page.ts
  src/app/pages/new-game/new-game.page.ts
  src/app/pages/options/options.page.ts
  src/app/pages/roles-choice/roles-choice.page.ts
  src/app/pages/roles-rules/roles-rules.page.ts
  src/app/pages/status-legends/status-legends.page.ts
  src/app/pages/victory/victory.page.html
  src/app/pages/victory/victory.page.ts
  src/styles.scss
Due: eslint --fix, stylelint --fix

Use semantic tags
  src/app/components/accordion-item/accordion-item.component.html
  src/app/components/accordion-item/accordion-item.component.scss
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/player-card-modal/player-card-modal.component.html
  src/app/components/player/player.component.html
  src/app/components/select-overlay/select-overlay.component.html
  src/app/components/select-overlay/select-overlay.component.scss
  src/app/components/text-modal/text-modal.component.html
  src/app/components/text-modal/text-modal.component.scss
  src/app/pages/game/game.page.html
  src/app/pages/game/game.page.scss
  src/app/pages/home/home.page.html
  src/app/pages/new-game-roles/new-game-roles.page.html
  src/app/pages/new-game/new-game.page.html
  src/app/pages/options/options.page.html
  src/app/pages/roles-choice/roles-choice.page.html
  src/app/pages/victory/victory.page.html
  src/styles.scss
Due: eslint --fix, stylelint --fix

Fix angular 19
  src/app/pages/game/game.page.spec.ts
  src/app/pages/home/home.page.spec.ts
  src/app/pages/new-game-roles/new-game-roles.page.spec.ts
  src/app/pages/new-game/new-game.page.spec.ts
  src/app/pages/options/options.page.spec.ts
  src/app/pages/roles-choice/roles-choice.page.spec.ts
  src/app/pages/roles-choice/roles-choice.page.ts
  src/app/pages/roles-rules/roles-rules.page.spec.ts
  src/app/pages/status-legends/status-legends.page.spec.ts
  src/app/pages/victory/victory.page.spec.ts
Due: eslint --fix

update dependencies
  capacitor.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/stores/before-death-round/before-death-round.store.spec.ts
Due: eslint --fix

update dependencies
  angular.json
  package-lock.json
  package.json
Due: none

add documentation on services' public methods
  eslint.config.mjs
  src/app/services/announcement/announcement.service.ts
  src/app/services/death/death.service.ts
  src/app/services/game/game.service.ts
  src/app/services/modal/modal.service.ts
  src/app/services/new-game/new-game.service.ts
  src/app/services/round-handlers/round-handlers.service.ts
  src/app/services/round-orchestration/round-orchestration.service.ts
  src/app/services/select-overlay/select-overlay.service.ts
  src/app/services/statuses/statuses.service.ts
  src/app/services/storage/storage.service.ts
  src/app/services/victory-handlers/victory-handlers.service.ts
Due: eslint --fix

status handlers
  src/app/configs/role-statuses.config.ts
  src/app/configs/status-handlers.config.ts
  src/app/services/death/death.service.spec.ts
  src/app/services/death/death.service.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
  src/app/services/status-handlers/status-handlers.service.spec.ts
  src/app/services/status-handlers/status-handlers.service.ts
  src/app/services/statuses/statuses.service.spec.ts
  src/app/services/statuses/statuses.service.ts
  src/app/status-handlers/captain/captain.status-handler.spec.ts
  src/app/status-handlers/captain/captain.status-handler.ts
  src/app/status-handlers/child-model/child-model.status-handler.spec.ts
  src/app/status-handlers/child-model/child-model.status-handler.ts
  src/app/status-handlers/default/default.status-handler.spec.ts
  src/app/status-handlers/default/default.status-handler.ts
  src/app/status-handlers/devoured/devoured.status-handler.spec.ts
  src/app/status-handlers/devoured/devoured.status-handler.ts
  src/app/status-handlers/infected/infected.status-handler.spec.ts
  src/app/status-handlers/infected/infected.status-handler.ts
  src/app/status-handlers/lover/lover.status-handler.spec.ts
  src/app/status-handlers/lover/lover.status-handler.ts
  src/app/status-handlers/rusty-sword/rusty-sword.status-handler.spec.ts
  src/app/status-handlers/rusty-sword/rusty-sword.status-handler.ts
  src/app/status-handlers/status-handler.interface.ts
  src/app/status-handlers/wolf-target/wolf-target.status-handler.spec.ts
  src/app/status-handlers/wolf-target/wolf-target.status-handler.ts
  tsconfig.json
Due: eslint --fix

Optimize defaultStatusHandler instances
  src/app/services/status-handlers/status-handlers.service.spec.ts
  src/app/services/status-handlers/status-handlers.service.ts
Due: eslint --fix

Handle chained deaths
  src/app/services/death/death.service.spec.ts
  src/app/services/death/death.service.ts
Due: eslint --fix

create status handlers from role handlers
  src/app/role-handlers/ancien/ancien.role-handler.spec.ts
  src/app/role-handlers/ancien/ancien.role-handler.ts
  src/app/role-handlers/bouc/bouc.role-handler.spec.ts
  src/app/role-handlers/bouc/bouc.role-handler.ts
  src/app/role-handlers/chevalier/chevalier.role-handler.spec.ts
  src/app/role-handlers/chevalier/chevalier.role-handler.ts
  src/app/role-handlers/chien-loup/chien-loup.role-handler.spec.ts
  src/app/role-handlers/chien-loup/chien-loup.role-handler.ts
  src/app/role-handlers/corbeau/corbeau.role-handler.spec.ts
  src/app/role-handlers/corbeau/corbeau.role-handler.ts
  src/app/role-handlers/cupidon/cupidon.role-handler.spec.ts
  src/app/role-handlers/cupidon/cupidon.role-handler.ts
  src/app/role-handlers/default/default.role-handler.spec.ts
  src/app/role-handlers/default/default.role-handler.ts
  src/app/role-handlers/enfant-sauvage/enfant-sauvage.role-handler.spec.ts
  src/app/role-handlers/enfant-sauvage/enfant-sauvage.role-handler.ts
  src/app/role-handlers/grand-mechant-loup/grand-mechant-loup.role-handler.spec.ts
  src/app/role-handlers/grand-mechant-loup/grand-mechant-loup.role-handler.ts
  src/app/role-handlers/idiot/idiot.role-handler.spec.ts
  src/app/role-handlers/idiot/idiot.role-handler.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.spec.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.spec.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.ts
  src/app/role-handlers/loup-garou/loup-garou.role-handler.spec.ts
  src/app/role-handlers/loup-garou/loup-garou.role-handler.ts
  src/app/role-handlers/pere-loups/pere-loups.role-handler.spec.ts
  src/app/role-handlers/pere-loups/pere-loups.role-handler.ts
  src/app/role-handlers/renard/renard.role-handler.spec.ts
  src/app/role-handlers/renard/renard.role-handler.ts
  src/app/role-handlers/salvateur/salvateur.role-handler.spec.ts
  src/app/role-handlers/salvateur/salvateur.role-handler.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.spec.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.ts
  src/app/role-handlers/sorciere/sorciere.role-handler.spec.ts
  src/app/role-handlers/sorciere/sorciere.role-handler.ts
  src/app/services/round-handlers/round-handlers.service.ts
  src/app/services/status-handlers/status-handlers.service.ts
Due: eslint --fix

add AI instructions file
  .github/instructions/angular.instructions.md
Due: none

create victory handlers from role handlers
  src/app/role-handlers/ange/ange.role-handler.spec.ts
  src/app/role-handlers/ange/ange.role-handler.ts
  src/app/role-handlers/cupidon/cupidon.role-handler.spec.ts
  src/app/role-handlers/cupidon/cupidon.role-handler.ts
  src/app/role-handlers/default/default.role-handler.spec.ts
  src/app/role-handlers/default/default.role-handler.ts
  src/app/role-handlers/grand-mechant-loup/grand-mechant-loup.role-handler.spec.ts
  src/app/role-handlers/grand-mechant-loup/grand-mechant-loup.role-handler.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.spec.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.spec.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.ts
  src/app/role-handlers/loup-garou/loup-garou.role-handler.spec.ts
  src/app/role-handlers/loup-garou/loup-garou.role-handler.ts
  src/app/role-handlers/pere-loups/pere-loups.role-handler.spec.ts
  src/app/role-handlers/pere-loups/pere-loups.role-handler.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.spec.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.ts
  src/app/services/victory-handlers/victory-handlers.service.ts
Due: eslint --fix

simplify role handlers config
  src/app/configs/role-handlers.config.ts
  src/app/configs/role-metadata.config.ts
  src/app/role-handlers/ancien/ancien.role-handler.ts
  src/app/role-handlers/ange/ange.role-handler.ts
  src/app/role-handlers/bouc/bouc.role-handler.ts
  src/app/role-handlers/chasseur/chasseur.role-handler.ts
  src/app/role-handlers/chevalier/chevalier.role-handler.ts
  src/app/role-handlers/chien-loup/chien-loup.role-handler.ts
  src/app/role-handlers/corbeau/corbeau.role-handler.ts
  src/app/role-handlers/cupidon/cupidon.role-handler.ts
  src/app/role-handlers/default/default.role-handler.spec.ts
  src/app/role-handlers/default/default.role-handler.ts
  src/app/role-handlers/enfant-sauvage/enfant-sauvage.role-handler.ts
  src/app/role-handlers/frere/frere.role-handler.ts
  src/app/role-handlers/grand-mechant-loup/grand-mechant-loup.role-handler.ts
  src/app/role-handlers/idiot/idiot.role-handler.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.ts
  src/app/role-handlers/loup-garou/loup-garou.role-handler.ts
  src/app/role-handlers/montreur-ours/montreur-ours.role-handler.ts
  src/app/role-handlers/pere-loups/pere-loups.role-handler.ts
  src/app/role-handlers/petite-fille/petite-fille.role-handler.ts
  src/app/role-handlers/renard/renard.role-handler.ts
  src/app/role-handlers/salvateur/salvateur.role-handler.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.ts
  src/app/role-handlers/soeur/soeur.role-handler.ts
  src/app/role-handlers/sorciere/sorciere.role-handler.ts
  src/app/role-handlers/villageois/villageois.role-handler.ts
  src/app/role-handlers/voleur/voleur.role-handler.ts
  src/app/role-handlers/voyante/voyante.role-handler.ts
  src/app/services/role-handlers/role-handlers.service.ts
  src/app/services/round-handlers/round-handlers.service.ts
Due: eslint --fix

remove useless victory handlers from role and status handlers
  src/app/configs/role-metadata.config.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.spec.ts
  src/app/role-handlers/joueur-flute/joueur-flute.role-handler.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.spec.ts
  src/app/role-handlers/loup-blanc/loup-blanc.role-handler.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.spec.ts
  src/app/role-handlers/sectaire/sectaire.role-handler.ts
  src/app/services/death/death.service.spec.ts
  src/app/services/death/death.service.ts
  src/app/services/victory-handlers/victory-handlers.service.spec.ts
  src/app/services/victory-handlers/victory-handlers.service.ts
  src/app/status-handlers/lover/lover.status-handler.spec.ts
  src/app/status-handlers/lover/lover.status-handler.ts
Due: eslint --fix

move cleanStatusesAfterDay to role handlers
  src/app/role-handlers/chevalier/chevalier.role-handler.spec.ts
  src/app/role-handlers/chevalier/chevalier.role-handler.ts
  src/app/role-handlers/corbeau/corbeau.role-handler.spec.ts
  src/app/role-handlers/corbeau/corbeau.role-handler.ts
  src/app/role-handlers/salvateur/salvateur.role-handler.spec.ts
  src/app/role-handlers/salvateur/salvateur.role-handler.ts
  src/app/services/game/game.service.ts
  src/app/services/statuses/statuses.service.spec.ts
  src/app/services/statuses/statuses.service.ts
Due: eslint --fix

move Villageois first to ange role handler
  src/app/role-handlers/ange/ange.role-handler.spec.ts
  src/app/role-handlers/ange/ange.role-handler.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
Due: eslint --fix

WIP
  src/app/role-handlers/bouc/bouc.role-handler.spec.ts
  src/app/role-handlers/bouc/bouc.role-handler.ts
  src/app/role-handlers/sorciere/sorciere.role-handler.spec.ts
  src/app/role-handlers/sorciere/sorciere.role-handler.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
  src/app/services/role-handlers/role-handlers.service.ts
  src/app/services/round-handlers/round-handlers.service.spec.ts
  src/app/services/round-handlers/round-handlers.service.ts
  src/app/services/round-orchestration/round-orchestration.service.spec.ts
  src/app/services/round-orchestration/round-orchestration.service.ts
  src/app/services/statuses/statuses.service.spec.ts
  src/app/services/statuses/statuses.service.ts
Due: eslint --fix

Fixes
  angular.json
  src/app/role-handlers/bouc/bouc.role-handler.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
  src/app/services/victory-handlers/victory-handlers.service.spec.ts
  src/app/services/victory-handlers/victory-handlers.service.ts
Due: eslint --fix

Fixes
  .husky/pre-commit
  src/app/round-handlers/villageois/villageois-round.handler.spec.ts
  src/app/round-handlers/villageois/villageois-round.handler.ts
  src/app/services/death/death.service.ts
  src/app/services/game/game.service.spec.ts
  src/app/services/game/game.service.ts
  src/app/services/role-handlers/role-handlers.service.spec.ts
  src/app/services/round-handlers/round-handlers.service.ts
  src/app/services/round-orchestration/round-orchestration.service.spec.ts
  src/app/services/round-orchestration/round-orchestration.service.ts
  src/app/services/status-handlers/status-handlers.service.ts
  src/app/utils/roles.utils.spec.ts
  src/app/utils/status.utils.spec.ts
Due: eslint --fix

add Angular MCP
  .github/copilot-instructions.md
  .github/instructions/angular.instructions.md
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
Due: none

Remove angular animations
  package-lock.json
  package.json
  src/app/app-config.ts
  src/shared/components/accordion-item/accordion-item.html
  src/shared/components/accordion-item/accordion-item.scss
  src/shared/components/accordion-item/accordion-item.ts
Due: eslint --fix, stylelint --fix

update pages
  docs/chunk-2BFPRYLY.js
  docs/chunk-37BGJPG6.js
  docs/chunk-3YOIAVIL.js
  docs/chunk-3YV7GRJU.js
  docs/chunk-6JGC32HA.js
  docs/chunk-7BENRNQN.js
  docs/chunk-7J2NM55R.js
  docs/chunk-7LT2NV4E.js
  docs/chunk-7ZYOATUJ.js
  docs/chunk-AF3NOXY7.js
  docs/chunk-AQDZ33O4.js
  docs/chunk-BTPWPUQY.js
  docs/chunk-DOU5MIBT.js
  docs/chunk-F5TIAXDW.js
  docs/chunk-FJBZ2LGV.js
  docs/chunk-HLJAYX5V.js
  docs/chunk-HQZRUZS7.js
  docs/chunk-IK3VN6WQ.js
  docs/chunk-J6VYBOVG.js
  docs/chunk-KKYBVZWB.js
  docs/chunk-KYTDMHO5.js
  docs/chunk-MHU6J6IE.js
  docs/chunk-QPURYNDG.js
  docs/chunk-REGEYB5P.js
  docs/chunk-RIIJS5VO.js
  docs/chunk-SVH4EUKY.js
  docs/chunk-THFWFWS6.js
  docs/chunk-THJNZY3W.js
  docs/chunk-W5THMBV6.js
  docs/chunk-XAPO5KLZ.js
  docs/chunk-XIHVYSMX.js
  docs/chunk-XXLHD7FV.js
  docs/chunk-YQVI2EKZ.js
  docs/index.html
  docs/main-3JR4KJL5.js
  docs/main-AAVOITSC.js
Due: eslint --fix
