Repository vdubuisson/blitzapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{ts,html}": ["eslint --fix"],
  "*.scss": ["stylelint --fix"]
}

add .nvmrc
  .nvmrc
Due: none

add context7 mcp
  .vscode/mcp.json
Due: none

update angular 21.2
  package-lock.json
  package.json
Due: none

add expand role on HelpRolesPage
  src/help/roles/help-roles-page.html
  src/help/roles/help-roles-page.scss
  src/help/roles/help-roles-page.spec.ts
  src/help/roles/help-roles-page.ts
  src/index.html
  src/shared/components/accordion-item/accordion-item.html
  src/shared/components/accordion-item/accordion-item.scss
  src/shared/components/accordion-item/accordion-item.ts
Due: eslint --fix, stylelint --fix

update copilot instructions
  .github/copilot-instructions.md
  .vscode/mcp.json
  src/index.html
Due: eslint --fix

announce CHASSEUR death before his turn
  src/current-game/orchestrator/game-orchestrator.spec.ts
  src/current-game/orchestrator/game-orchestrator.ts
  src/index.html
Due: eslint --fix

update pages
  docs/chunk-2VEWI5OD.js
  docs/chunk-34Y2LPDP.js
  docs/chunk-6S3WZZUQ.js
  docs/chunk-7EAB4NW3.js
  docs/chunk-BKCLE5QC.js
  docs/chunk-ETNWZPL7.js
  docs/chunk-HOJS3V2A.js
  docs/chunk-K7PRZ3HT.js
  docs/chunk-KELUEWXC.js
  docs/chunk-OEIUFAYC.js
  docs/chunk-UQPNTKL5.js
  docs/chunk-V2CPNDLQ.js
  docs/chunk-ZQTYHIMQ.js
  docs/index.html
  docs/main-32SXP3LL.js
  docs/main-FKTJWDKZ.js
Due: eslint --fix

update deps
  .nvmrc
  package-lock.json
  package.json
Due: none
